@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Orbitron", sans-serif;
}

.container {
  max-width: 1136px;
  height: 640px;
  background-color: skyblue;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* padding: 1rem; */
  align-items: center; /* vertically center */
}

.container .left {
  grid-column: 1 / span 5;
  grid-row: 1 / span 5;
}

.left {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
  /* clip-path: polygon(0 0, 100% 0, calc(100% - 50vw) 100%, 0 100%); */
}






/* Clock Style */
.datetime {
  background: #000;
  width: 100%;
  width: 100%;
  color: #fff;
  font-style: italic;
  top: 100px;
  /* left: 25px; */
  position: absolute;
  transform: rotate(-47deg);
}

.date {
  display: flex;
  justify-content: space-between;
  background: #000;
  width: 60%;
  margin-top: -50px;
  margin-left: -50px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time {
  width: 100%;
  margin-top: 100px;
  margin-left: 20px;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255,255,255,.1));
}

.time span:not(:last-child) {
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child {
  font-size: 50px;
  font-weight: 600;
  text-transform: lowercase;
  margin-top: -20px;
  margin-left: 20px;
  padding: 0 15px;
}

#second {
  display: none;
}



.bar-1 {
  top: -130px;
  left: 210px;
  position: absolute;
  width: 4px;
  height: 350px;
  background-color: yellow;
  border-radius: 5px;
  transform: rotate(45deg);
}

.bar-2 {
  top: 120px;
  left: -5px;
  position: absolute;
  width: 4px;
  height: 350px;
  background-color: yellow;
  border-radius: 5px;
  transform: rotate(45deg);
}

.up {
  /* Prof: Rotating image */
  width: 100%;
  height: 100%;
  background: #0000ff;
  /* clip-path: polygon(100% 0, 0 0, 100% 45%); */
}

.down {
  /* Other time param */
  width: 100%;
  height: 100%;
  background: #00ff00;
  font-style: italic;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 300;
  /* clip-path: polygon(100% 0, 5% 100%, 100% 100%); */
}
